<!DOCTYPE html>
<html>
  <head>
    <title>Listenme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag controller_name, media: 'all' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'LISTENME', root_path, class: 'logo' %>
      <nav>
        <%= link_to 'Episodios', nil, class: 'link' %>
        <%= link_to 'Contacto', nil, class: 'link' %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
